body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}

.ciudad {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.login-box {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.login-box h2 {
    margin: 0;
    padding: 0;
    color: #f2163e;
    text-align: center;
    margin-bottom: 30px;
}

.login-box .form-group {
    position: relative;
}

.login-box .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #f5f5f5;
    transition: 0.3s;
}

.login-box .form-control {
    border: 2px solid #cacaca;
}

.login-box .form-control:focus {
    border: 2px solid #ff0000;
}

.login-box .form-control:valid {
    border: 2px solid #ffcf11;
}

.login-box .form-group label {
    position: absolute;
    top: -20px;
    left: 10px;
    color: #575757;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
}

.login-box .form-group a {
    position: relative;
    font-size: 13px;
    color: #f2163e;
    text-decoration: none;
}

.login-box .form-group a:hover {
    position: relative;
    font-size: 13px;
    color: #f2163e;
    text-decoration: underline 1px #f2163e;
}

.login-box .form-group .terms-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.login-box .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.login-box .form-group {
    display: block;
    margin-bottom: 10px;
}

.login-box button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #f40303;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.login-box button:hover {
    background: #ff0000;
    color: #ffcf11;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0202, 0 0 20px #ff0000;
}

.login-box .form-group a {
    text-align: center;
    display: block;
}